/* Sobre: */

#arrowabout {
  height: 60px;
  width: 60px;
  margin: 20px;
  position: absolute;
  top: 870px;
}

#sobre {
  width: 100%;
  min-height: 90vh;
  padding-top: 94px;
}

#abouttext h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

#abouttext p {
  text-align: left;
  font-size: 1.1em;
  width: 60%;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin: 0 auto;
  margin-bottom: 25px;
}


/* Footer: */

footer {
  background-color: rgb(48, 48, 48);
  padding: 2% 0;
}

footer p {
  text-align: center;
  color: #eee;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  vertical-align: middle;
}
