/* Dispositivos menores: */

@media only screen and (max-width: 485px) {
  .mainnav {
    display: none;
  }

  #maintext {
    line-height: 2em;
  }

  #maintext h1 {
    font-size: 1.2em !important;
  }

  #maintext h2 {
    font-size: 0.8em !important;
  }

  #gitDiv img {
    display: none;
  }
}

/* Dispositivos pequenos: */

@media only screen and (min-width: 486px) and (max-width: 630px) {
  .mainnav {
    display: none;
  }

  #maintext {
    line-height: 3em;
  }

  #maintext h1 {
    font-size: 1.5em !important;
  }

  #maintext h2 {
    font-size: 1em !important;
  }
}

/* Dispositivos médios: */

@media only screen and (min-width: 631px) and (max-width: 740px) {
  #maintext {
    line-height: 3.5em;
  }
  
  #maintext h1 {
    font-size: 2em !important;
  }

  #maintext h2 {
    font-size: 1.5em !important;
  }
}

/* Dispositivos maiores: */

@media only screen and (min-width: 741px) and (max-width: 980px) {
  #maintext {
    line-height: 4em;
  }

  #maintext h1 {
    font-size: 2.5em !important;
  }

  #maintext h2 {
    font-size: 2em !important;
  }
}